:root{
    --main-color : rgb(6, 5, 5);
    --text-color : #fff680;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.top-bar{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.social-box{ 
    display: flex;
    justify-content: center ;
}
.social{
   font-size: 30px;
   color: var(--text-color);
   margin-left: 8px;
}
.social:hover{  color: rgb(244, 239, 239) ;}

header{
    background-color: var(--main-color);
}

/* navigation bar container */
.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul{
    display: flex;
    margin-top: 0;
}
.nav-menu>ul>li{
    position: relative;
    white-space: nowrap;
    padding: 5px 0 10px 22px;
}
.nav-menu a{
    display: block;
    position: relative;
    transition: 0.5s;
    font-size: 14px;
    padding: 0 4px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.nav-menu a:hover{
    border-bottom: 3px solid var(--text-color);
}

.get-started-btn{
    margin-left: 25px;
    color: var(--text-color);
    border-radius: 4px;
    padding: 6px 30px 6px 30px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    border: 2px solid white;
}

.get-started-btn:hover{
    border: 2px solid var(--text-color);
    color: white;
}

.mobile-nav-toggle{
     display: none;
     position: fixed;
     top: 65px;
     right: 15px;
     z-index: 9998;
     border: 0;
     background: none;
     font-size: 24px;
     transition: all 0.4s;
     outline: none !important;
     line-height: 1;
     cursor: pointer;
     text-align: right;
     color: white;
}

.mobile-nav-toggle i{
   color: white;
}

.mobile-nav{
    display: none;
}

@media (max-width:768px) {
    .get-started-btn{
        margin: 0 48px 0 0;
        padding: 6px 18px;
    }

    .slogan{
        display: none;
    }

    .mobile-nav-toggle{
        display: block;
    }

    .active{
        display: block;
    }

    .mobile-nav ul{
       list-style: none;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .mobile-nav ul a{
        text-decoration: none;
        transition: 0.5s;
        font-size: 14px;
        padding: 0 4px;
        text-transform: uppercase;
        color: white;
    }

    .mobile-nav ul a:hover{
        border-bottom: 3px solid var(--text-color);
    }




}



